*.pyc
.env
__pycache__/
venv/
app/models/users.py
app/models/loans.py
app/routes/auth.py
app/routes/loans.py
app/routes/user.py
app/routes/__init__.py
app/routes/loan_status.py
app/routes/application.py
app/routes/bank_details.py
app/schemas/user_schema.py
app/schemas/loan_schema.py
app/schemas/_init__.py
app/services/loan_service.py
app/services/loan_store.py
app/services/loan.py

myenv/